.account-page{
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px 40px;
    h2{
        font-size: xx-large;
        font-weight: bold;
        padding: 10px 0;
    }

    .appointments{
        position: relative;
        display: flex;
        overflow-x: auto;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        min-width: 750px;
        box-sizing: border-box;
        h2{
            margin-top: 30px
        }
    }
    .user-info li{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: start;
        padding: 10px;
        p {
            min-width: 250px;
        }
        input{
            color: black;
            width: 400px;
            padding: 5px 20px;
            background-color: #EAEAEA;
            border-radius: 20px;
            border: #21B4A3 2px solid;
        }
        input:-webkit-autofill {
            filter: invert(1);
        }
    }

    .buttons{
        display: flex;
        flex-direction: row;
        min-width: 100%;
        gap: 40px
    }

    .change-button, .cancel-button{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 200px;
        padding: 5px 10px;
        border-radius: 20px;
        color: white;
        cursor: pointer;
    }

    .change-button{
        background: #4FAA39;
    }
    .cancel-button{
        background: #E21B16;
    }
}
