body {
    background-color: #ffffff;
    height: 100vh;
}

header {
    background: #21B4A3;
    width: 100%;
    padding: 10px 5px;
    max-height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    min-width: fit-content;
}

.logo img{
    background-color: #FFFFFF;
    border-radius: 40%;
    margin-right: 10px;
    width: 50px;
    color: aqua;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.nav-button{
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    background: #fff;
    color: #21B4A3;
    min-width: fit-content;
}

.userName{
    min-width: 160px;
    text-align: center;
}


.main-container {
    /*background-color: rebeccapurple;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    padding: 40px 40px;
    margin: 20px auto;
    gap: 40px;

    min-height: calc(100vh - 150px);
    min-width: 1000px;
    max-width: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: black;
}


.left-box, .right-box {
    h1{
        color: #21B4A3;
        font-weight: bold;
        font-size: xx-large;
    }
    flex: 1;
    padding: 20px;
    border-radius: 15px;
}

.left-box {
    border: 2px solid #4FAA39;
    display: flex;
    flex-direction: column;
    ul{
        text-align: justify;
        list-style: disc;
        padding: 20px;
        font: 16px "Arial" ;
    }
}

.right-box {
    border: 2px solid #4FAA39;
    p{
        text-align: justify;
        font: 16px "Arial";
        padding: 20px 5px;
    }
}