.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 250px;
    height: 350px;
    background-color: white;
    border: 2px solid #21B4A3;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    .card-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-name{
        font-weight: bold;
        font-size: larger;
    }

    .ticket-status{
        font-size: smaller;
    }

    .card-description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        text-align: start;
        width: 100%;
    }

    .card-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .cancel-button, .confirm-button{
            text-align: center;
            background-color: #E21B16;
            color: white;
            border-radius: 20px;
            padding: 5px 30px;
            font-weight: bold;
            font-size: large;
            cursor: pointer;
            margin: 5px;
            width: fit-content;
        }
        .confirm-button{
            background-color: #4FAA39;
        }
    }
}

.card-fs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    .close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 10px;
        font-size: large;
        font-weight: bold;
        color: grey;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
    }
    .card{
        cursor: default;
        position: relative;
        width: 500px;
        height: 500px;
    }
    .result textarea{
        background-color: #EAEAEA;
        border: #21B4A3 2px solid;
        border-radius: 20px;
        padding: 10px 10px;
        width: 100%;
        height: 200px;
    }
    .confirm-button, .continue-button{
        background-color: #4FAA39;
        color: white;
        border-radius: 20px;
        padding: 5px 30px;
        font-weight: bold;
        font-size: large;
    }
    .card-buttons{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px 20px;
        align-items: end;
    }
}

.card-fs.open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
